body{
	margin:0;
	padding:0;
	
}

main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap:20px;
}

section{
	height:100vh;
}

#left{
	background:#1bde52;
}

#right{
	
	background:black;
}


h1{
	display: block;
	position:absolute;
	font-family: Volte Devanagari Bold, serif;
	font-size:400px;
	top:-104px;
	left:65px;
	margin:0px;
	
}

h2{
	display: block;
	position:absolute;
	font-family: Volte Devanagari Bold, serif;
	font-size:400px;
	margin:0px;
	top:-120px;
	left:50px;
	color:#ff00c0;
}

p{
	font-family: Volte Devanagari Bold, serif;
	font-size:150px;
	font-weight:bold;
	top:171px;
	margin:0px;
	left:488px;
	position: absolute;

}

h3{
	font-family: Volte Devanagari Bold, serif;
	font-size:250px;
	font-weight:bold;
	top:500px;
	left:180px;
	position: absolute;
	margin:0px;
}



.snowman{
	height:810px;
	width:810px;
	top:10px;
	left:710px;
	position: absolute;
	display: none;
	
}


section #right{
	background:#5b9bf5;
}

