body{
	margin:0;
	padding:0;
	
}

main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap:20px;
}

section{
	height:100vh;
}

#left{
	background:#1bde52;
}

#right{
	
	background:black;
}


h1{
	display: block;
	position:absolute;
	font-family: Volte Devanagari Bold, serif;
	font-size:400px;
	top:-104px;
	left:65px;
	margin:0px;
	
}

h2{
	display: block;
	position:absolute;
	font-family: Volte Devanagari Bold, serif;
	font-size:400px;
	margin:0px;
	top:-120px;
	left:50px;
	color:#ff00c0;
}

p{
	font-family: Volte Devanagari Bold, serif;
	font-size:150px;
	font-weight:bold;
	top:171px;
	margin:0px;
	left:488px;
	position: absolute;

}

h3{
	font-family: Volte Devanagari Bold, serif;
	font-size:250px;
	font-weight:bold;
	top:450px;
	left:220px;
	position: absolute;
	margin:0px;
}


.eye {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: #f7f7f7;
    padding-top: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: inline-block;
    top:300px;
    left:170px;
}

.pup {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #2b2b2b;
    border: 10px solid #05D3DD;
    display: block;
    margin: 20px auto;
}

.lidT {
    display: block;
    width: 200px;
    height: 150px;
    background: rgb(240, 184, 123);
    position: absolute;
    top: -15px;
}

.lidB {
    display: block;
    width: 200px;
    height: 150px;
    background: rgb(240, 184, 123);
    position: absolute;
    bottom: -15px;
}






